
{{!-- // Toon de scores vanuit de database --}}

<table>
    <tr>
        <th>Naam</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>Dynamic Data 1</td>
        <td>Dynamic Data 2</td>
    </tr>
</table>