<main>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/instellingen">Instellingen</a></li>
        </ul>
        <div class="date">
            <p>Oh wat is het een mooie {{day}}</p>  
        </div>

    </nav>
</main>