<form method="POST" action="/signup">
  <input type="text" name="name" placeholder="Vul hier je naam in" required />
  <input type="password" name="password" placeholder="Vul hier een wachtwoord in  " required />
  <input type="submit" />
</form>